html {
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

main {
	width: 1000px;
	border: 2px solid Gainsboro;
	overflow-y: auto;
}

section:first-child {
	width: calc(47% - 1px);
	border-color: Gainsboro;
	border-style: none solid none none;
	border-width: 0 1px 0 0;
	float: left;
}

section:last-child {
	width: calc(53% - 1px);
	border-color: Gainsboro;
	border-style: none none none solid;
	border-width: 0 0 0 1px;
	float: right;
}

h1 {
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1.6rem;
	margin: 0.5rem 0 0 0;
	text-align: center;
	width: 100%;
}

ul {
	width: 100%;
	padding: 0;
	margin: 0.8rem 0 0 0;
	font-size: 0rem;
	line-height: 1.5rem;
	height: 1.5rem;
	list-style-type: none;
}

li {
	text-align: center;
	display: inline-block;
	background-color: Gainsboro;
	height: calc(100% - 0.05rem - 4px);
	line-height: 1.1rem;
	font-size: 0.95rem;
	margin: 0;
	padding: 0.05rem 0 0 0;
	cursor: default;
	border-color: white;
	border-style: solid;
	border-width: 2px 1px 2px 1px;
}

section:first-child li {
	width: calc(25% - 2px);
}

section:last-child li:first-child {
	width: calc(25% - 2px);
}

section:last-child li {
	width: calc(15.8% - 2px);
}

li > input {
	display: inline-block;
	width: 2.0rem;
    height: 50%;
	background-color: white;
}

pre {
	width: calc(100% - 2rem);
	margin: 0;
	padding: 0 1rem 0 1rem;
	border-top:2px solid Gainsboro;
	height: 480px;
	overflow-y: scroll;
}

p {
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 0;
	border-top:2px solid Gainsboro;
	height: 480px;
}

canvas {
	margin-top: 40;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d3d3d3;
}

svg {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d3d3d3;
}

[contenteditable] {
	outline: 0px none transparent;
  }